#skills {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(to left, #FED43A 0, #FED43A 45%, #000000 30%);
}
#skills h1 {
    font-size: 5rem;
    font-family: var(--font--bold);
    color: var(--color--white);
    padding-left: 30px;
}
.container__skills {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.skills__line1 {
    width: 100%;
    display: flex;
}
.skills__line2 {
    width: 100%;
    display: flex;
}
.skills__card___black {
    width: 55%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__skills {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--color--yellow);

}
.img__skills img {
    width: 80px;
    justify-content: center;
}
.description__skill___black p {
    color: var(--color--white);
    font-family: var(--font--regular);
    font-size: 1rem;
    line-height: 20px;
    padding: 20px 50px;
}
.skills__card___yellow {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__yellow {
    background-color: var(--color--black);
}
.img__yellow img {
    width: 80px;
    justify-content: center;
    filter: invert(88%) sepia(57%) saturate(1627%) hue-rotate(323deg) brightness(101%) contrast(102%);
}
.description__skill___yellow p {
    color: var(--color--black);
    font-family: var(--font--regular);
    font-size: 1rem;
    line-height: 20px;
    padding: 20px 50px;
}

/*==========Responsive=============*/
@media only screen and (max-width: 600px) {
    #skills {
        width: 100%;
        height: 430vh;
        background: var(--color--black);
    }
    .skills__line1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .skills__line2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .skills__card___black {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills__card___yellow {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color--yellow);
    }
    .description__skill___yellow p {
        color: var(--color--black);
        font-family: var(--font--regular);
        font-size: 1rem;
        line-height: 20px;
        padding: 20px 30px;
    }
    .description__skill___black p {
        color: var(--color--white);
        font-family: var(--font--regular);
        font-size: 1rem;
        line-height: 20px;
        padding: 20px 30px;
    }
}