#formation h1 {
    color: #ffffff;
    padding: 25px;
    text-align: center;
}

.formation {
    height: 100vh;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    box-shadow: inset 0 0 30px 15px #e6e6e6;
    text-align: center;
    align-items: center;
}

.formation__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 80px;
    border: 2px solid #5fa2ad;
    border-radius: 25px;
    background: #e6e6e6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 500px;
    text-align: center;
}

.formation__cards img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

.formation__cards h2 {
    color: #5fa2ad;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.formation__cards p {
    color: #5fa2ad;
    text-align: center;
    align-items: center;
}

.formation__cards:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    text-align: center;
    align-items: center;
}


/*=========Responsive===========*/

@media screen and (max-width: 750px) {
    .formation {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .formation__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px 30px;
        border: 2px solid #5fa2ad;
        border-radius: 15px;
        text-align: center;
    }
    .formation__cards img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
        align-items: center;
    }
    #formation h1 {
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
    }
    .formation__cards h2 {
        font-size: 1.3rem;
        padding-top: 5px;
        text-align: center;
        align-items: center;
    }
    .formation__cards p {
        font-size: .8rem;
        text-align: center;
        align-items: center;
    }
}