header {
    display: flex;
    justify-content: space-between;
    background-color: #5fa2ad;
    height: 100px;
    align-items: center;
    width: 100%;
}

.logo {
    padding: 30px;
    color: #ffffff;
}

.list {
    display: flex;
    padding: 30px;
}

.item {
    padding: 0 30px 0 30px;
}

.list a {
    color: #ffffff;
}

.list a:hover {
    color: #ffffff;
}

.item:hover {
    transform: scale(1.5);
}

.item.empty {
    border: 2px solid #5fa2ad;
    border-radius: 24px;
    color: #5fa2ad;
    background-color: transparent;
    transition: all 0.3s;
}

.item.empty:hover {
    color: #e6e6e6;
    background-color: #5fa2ad;
}

.open-menu {
    display: none;
}

.close-menu {
    display: none;
}

.list-item {
    display: inline-block;
    color: #e6e6e6;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    transition: all 0.2s;
}

.list-item:hover {
    color: #5fa2ad;
    transform: scale(1.04);
}


/* ======== Responsive ==========*/

@media screen and (max-width: 768px) {
    header {
        display: none;
    }
}