        .projects {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #projects__title {
            color: #ffffff;
            padding: 15px;
            text-align: center;
            margin: 30px 0;
        }
        
        .slider:hover {
            transform: scale(1.1);
            transition: all 0.5s;
            text-align: center;
            align-items: center;
        }
        
        .slider {
            margin: 0 auto;
            width: 800px;
            height: 600px;
            overflow: hidden;
        }
        
        .slides {
            width: 400%;
            height: 400px;
            display: flex;
        }
        
        .slides input {
            display: none;
        }
        
        .slide {
            width: 25%;
            position: relative;
            transition: 2s;
        }
        
        .slide__content {
            display: flex;
        }
        
        .slide__link {
            width: 5px;
        }
        
        .slide p {
            color: #5fa2ad;
            text-align: center;
        }
        
        .slide p:hover {
            transform: scale(1.1);
            transition: all 0.5s;
            text-align: center;
            align-items: center;
        }
        
        .slide button {
            border: 1px solid var(--color--yellow);
            justify-content: center;
        }
        
        .slide img {
            width: 800px;
            text-align: center;
            text-align: center;
            border-radius: 15px;
        }
        
        .manual__navigation {
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
        }
        
        .manual__btn {
            border: 2px solid #5fa2ad;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        
        .manual__btn:not(:last-child) {
            margin-right: 40px;
        }
        
        .manual__btn:hover {
            background-color: #5fa2ad;
            transform: scale(1.1);
            transition: all 0.5s;
            text-align: center;
            align-items: center;
        }
        
        #radio__one:checked~.one {
            margin-left: 0;
        }
        
        #radio__two:checked~.one {
            margin-left: -25%;
        }
        
        #radio__three:checked~.one {
            margin-left: -50%;
        }
        
        #radio__for:checked~.one {
            margin-left: -75%;
        }
        
        .navigation__auto div {
            border: 2px solid #5fa2ad;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        
        .navigation__auto {
            position: absolute;
            width: 800px;
            margin-top: 360px;
            display: flex;
            justify-content: center;
        }
        
        .navigation__auto div:not(:last-child) {
            margin-right: 40px;
        }
        /*=========Responsive===========*/
        
        @media screen and (max-width: 750px) {
            .projects {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .slider {
                display: flex;
                width: 100%;
                height: auto;
            }
            .slide img {
                max-width: 100%;
                height: auto;
                margin: 5px;
                border-radius: 5px;
            }
            .slides {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
            .navigation__auto div {
                display: none;
            }
            .navigation__auto {
                display: none;
            }
            .manual__btn {
                display: none;
            }
            #radio__one {
                display: none;
            }
            .slide p {
                font-size: .8rem;
            }
            .slide p:hover {
                color: #5fa2ad;
            }
            .slide {
                width: 100%;
            }
            #projects__title {
                margin-top: 100px;
                margin-bottom: 0;
            }
        }